{% extends "layout.html.twig" %}

{% block title %} Agenda {% endblock %}

{% block content %}

{% for flash_message in app.session.flashBag.get('success') %}
    <div class="successMessage">
        {{ flash_message }}
    </div>
{% endfor %}

<p><a href="{{ path('nouvelArticle') }}" class="amber-text text-darken-4"><i class="fa fa-pencil-square" aria-hidden="true"></i>
Saisir un Article</a></p>


<p><a href="{{ path('nouvelEvenement') }}" class="amber-text text-darken-4"><i class="fa fa-calendar" aria-hidden="true"></i>Saisir un Evenement</a></p>


<h2>Liste des Evenements</h2>

		

		 <table class="bordered">
		        <thead>
		          <tr>
		              <th>Date</th>
		              <th>Titre</th>
		              <th>Contenu</th>		        
					  <th>Action</th>
		          </tr>
		        </thead>

		        <tbody>
				   	
				   	{% for agenda in agendas %}
				
					<tr>
						
						
						
						<td>
							{{ agenda.day }}/{{ agenda.month }}/{{ agenda.year }} 
						</td>	
					



						<td>{{ agenda.titre }}</td>	
						<td>{{ agenda.contenu|slice(0,400)|raw |nl2br }}</td>
						
                               		
		
						<td><a href="{{ path('modifevenement',{id:agenda.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							<a href="{{ path('supprevenement',{id:agenda.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>

						</td>




					<!-- Lien (avec picto) pour modifier l'article -->
					<!-- Lien (avec picto) pour supprimer l'article -->	
					</tr>
				
				{% endfor %}
		        </tbody>
		      </table>


{% endblock %}




