{% extends "layout.html.twig" %}

{% block title %} Contact {% endblock %}

{% block content %}

<h3>Pourquoi nous contacter ?</h3>

	<p>Vous rencontrez un problème avec la scolarité de votre enfant, la cantine, les TAP, les transports scolaires, et vous souhaitez savoir si ce même problème à déjà été rencontré par d’autres parents, ou être représenté par un membre de l’association en vu d’une médiation avec les différents protagonistes.</p></br>

	<p>Vous avez des idées à proposer : pour améliorer la vie scolaire de nos enfants, pour un futur évènement ou animation, etc…</p>


<h3>Envoyez-nous un message :</h3>




{% form_theme formContact _self %}


    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="successMessage">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(formContact, {attr: {novalidate:"novalidate"}}) }}

   


   <div class="box box-success">
    <div class="box-body">

      	<div class="input-field">
		    <div>
		       
		        {{ form_errors(formContact.firstname) }}	        
		        {{ form_label(formContact.firstname , "Votre prénom") }}     
		        {{ form_widget(formContact.firstname) }}
		    </div>

		    <div>
		        {{ form_errors(formContact.lastname) }}
		        {{ form_label(formContact.lastname, "Votre nom")}}
		        {{ form_widget(formContact.lastname)}}
		    </div>

		    <div>
	        {{ form_errors(formContact.email) }}
	        {{ form_label(formContact.email ,"Votre Mail") }}
	        {{ form_widget(formContact.email)}}

	    	</div>

	    	<div>
		        {{ form_errors(formContact.content) }}
		       
		        {{ form_label(formContact.content, "Votre message") }}
		        {{ form_widget(formContact.content)}}     
		    </div>
	    </div>
        

	    <div>
	            <button class="btn waves-effect waves-orange login">Envoyer</button>
	    </div>

    {{ form_end(formContact) }}
        </div>
    </div>

{% endblock %}