{% extends "layout.html.twig" %}

{% block title %} Creation de compte {% endblock %}

{% block content %}
    
    {% for flash_message in app.session.flashBag.get('success') %}
    <div class="successMessage">
        {{ flash_message }}
    </div>
    {% endfor %}
    
    <h2>Liste des administrateurs</h2>

       
       <table class="bordered">
		       

		        <tbody>
				   	
				   	   {% for user in users%}
				
					<tr>
						
						
						
						<td>
							{{ user.username }} 
						</td>	
					



                                                <td>{{ user.email }}</td>
                                                
                                                <td>
							<a href="{{ path('suppraccount',{id:user.id}) }}"><i class="fa fa-trash" aria-hidden="true" title="supprimer"></i></a>

						</td>
						
                         	
					</tr>
				
				{% endfor %}
		        </tbody>
		      </table>
       
       

                        <h2>Création de compte administrateur</h2>

    {{ form_start(formUser, {attr: {novalidate:"novalidate"}}) }}
    {{ form_errors(formUser) }}

    <div class="box box-success">
        <div class="box-body">

            <div class="input-field">
                <div>

                    {{ form_errors(formUser.username) }}


                    {{ form_label(formUser.username , "Nom")  }}


                    {{ form_widget(formUser.username) }}
                </div>


                <div>

                    {{ form_errors(formUser.password) }}


                    {{ form_label(formUser.password , "Mot de passe")  }}


                    {{ form_widget(formUser.password) }}
                </div>

                <div>

                    {{ form_errors(formUser.email) }}


                    {{ form_label(formUser.email , "Email")  }}


                    {{ form_widget(formUser.email) }}
                </div>

            </div>

            <div>
                <button class="btn waves-effect waves-orange login">Enregister</button>
            </div>


    
    {{ form_end(formUser) }}

        </div>
    </div>
{% endblock %}